<!DOCTYPE>
<html>
    <head>
        Welcome to Team Foresite's Website
    </head>
    <body>
        <h1><center>Team Foresite Login Page</center></h1>
        <h6><center style="color:red">{{ error }}<center></h6>
        <form action="/auth" method="POST">
            <center>Username <input type="text" name="username"></center>
            <center>Password <input type="password" name="password"></center>
            <center><input type="submit" name="submitButton"></center>
        </form>
    </body>

</html>

