<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Story Creation </title>
  </head>
  <body>
    <center>
      <h1> Create a new story! </h1>
      <form action="/createStory">
        Story Title: <input type="text" name="story_title">
        First Entry: <input type="text" name="entry_1"> <!-- ADD WORD LIMIT?? !-->
        Tags: 
        <select>
          <option>Sci-Fi</option>
          <option>Comedy</option>
        </select>
      </form>
    </center>
  </body>
</html>